.container {
	position: relative;
	width: 400PX;
  }
  .img2{
	display: flex;
	gap: 65px;
  }
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgb(20, 15, 15);
  }
  
  .container:hover .overlay {
	opacity: 0.8;
  }
  
  .text {
	color: #fff;
	font-size: 40px;
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }
.HomeHeading img{
	width:130px;
	height:130px;
}
.HomeHeading{
	display: flex;
	gap: 30px;
	justify-content: center;
	place-items: center;
	background-color:black;
	color: white;
	font-style: italic;
}
